.elementor-6 .elementor-element.elementor-element-a60b8de {
  padding: 30px 0px 45px 0px;
}

.elementor-6 .elementor-element.elementor-element-cc34cd6 .post-title {
  font-size: 18px;
  font-weight: 700;
}

.elementor-6 .elementor-element.elementor-element-fac7675>.elementor-element-populated {
  border-style: dotted;
  border-width: 1px 1px 1px 1px;
  border-color: #C5C5C5;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-fac7675>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-fda580a .content {
  margin: 0% 5% 0% 5%;
}

.elementor-6 .elementor-element.elementor-element-fda580a .post-title {
  font-size: 32px;
  font-weight: 700;
}

.elementor-6 .elementor-element.elementor-element-9cdc9e0 .post-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-9cdc9e0>.elementor-widget-container {
  padding: 0px 0px 25px 0px;
}

.elementor-6 .elementor-element.elementor-element-ee18d53 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.elementor-6 .elementor-element.elementor-element-9faf71a .post-title {
  font-size: 18px;
  font-weight: 700;
}

.elementor-6 .elementor-element.elementor-element-9faf71a>.elementor-widget-container {
  padding: 30px 25px 35px 25px;
  background-color: #E9F6F9;
}

.elementor-6 .elementor-element.elementor-element-841f927 {
  margin-top: 0px;
  margin-bottom: 55px;
}

.elementor-6 .elementor-element.elementor-element-f12d8b7 .list-post {
  --list-p-media-width: 38%;
  --list-p-media-max-width: 85%;
}

.elementor-6 .elementor-element.elementor-element-f12d8b7 .post-title {
  font-size: 21px;
  font-weight: 700;
}

.elementor-6 .elementor-element.elementor-element-69a5e1e>.elementor-widget-container {
  padding: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E8E8E8;
}


.elementor-6 .elementor-element.elementor-element-2787fa6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}

.elementor-6 .elementor-element.elementor-element-2787fa6>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-1724740>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}


.elementor-6 .elementor-element.elementor-element-294a686 .media-ratio {
  padding-bottom: calc(100% / 1.71);
}

.elementor-6 .elementor-element.elementor-element-294a686 .post-title {
  font-size: 28px;
}

.elementor-6 .elementor-element.elementor-element-3c8eac6 .list-post {
  --list-p-media-width: 30%;
  --list-p-media-max-width: 85%;
}

.elementor-6 .elementor-element.elementor-element-3c8eac6 .post-title {
  font-size: 16px;
}

.elementor-6 .elementor-element.elementor-element-e4738d3 {
  margin-top: -100px;
  margin-bottom: 60px;
}

.elementor-6 .elementor-element.elementor-element-41f6e93:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-41f6e93>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-41f6e93>.elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E8E8E8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}

.elementor-6 .elementor-element.elementor-element-41f6e93>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-df2a46f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-df2a46f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-df2a46f>.elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E8E8E8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}

.elementor-6 .elementor-element.elementor-element-df2a46f>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-7332fa7 .list-post {
  --list-p-media-width: 30%;
  --list-p-media-max-width: 85%;
}

.elementor-6 .elementor-element.elementor-element-7332fa7 .post-title {
  font-size: 16px;
}

.elementor-6 .elementor-element.elementor-element-7332fa7 .block-head {
  --line-weight: 3px;
}

.elementor-6 .elementor-element.elementor-element-66845bf:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-66845bf>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-66845bf>.elementor-element-populated {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E8E8E8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 25px 25px 25px 25px;
}

.elementor-6 .elementor-element.elementor-element-66845bf>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-69e1af6 .post-title {
  font-size: 16px;
}

.elementor-6 .elementor-element.elementor-element-69e1af6 .block-head {
  --line-weight: 3px;
}

.elementor-6 .elementor-element.elementor-element-e0ce964 .post-title {
  font-size: 18px;
  font-weight: 700;
}

.elementor-6 .elementor-element.elementor-element-b98e7ad:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-b98e7ad>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #F4F3F3;
}

.elementor-6 .elementor-element.elementor-element-b98e7ad {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 55px;
}

.elementor-6 .elementor-element.elementor-element-b98e7ad>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-8ff68d1 .heading {
  font-size: 30px;
  color: #00789A;
}

.elementor-6 .elementor-element.elementor-element-8ff68d1>.elementor-widget-container {
  padding: 65px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-3c40ce8 {
  text-align: left;
}

.elementor-6 .elementor-element.elementor-element-377e89d>.elementor-widget-container {
  padding: 30px 0px 45px 0px;
}

.elementor-6 .elementor-element.elementor-element-a278f2a .list-post {
  --list-p-media-width: 30%;
  --list-p-media-max-width: 85%;
}

.elementor-6 .elementor-element.elementor-element-a278f2a .post-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-5325094 .list-post {
  --list-p-media-width: 30%;
  --list-p-media-max-width: 85%;
}

.elementor-6 .elementor-element.elementor-element-5325094 .post-title {
  font-size: 18px;
}

.elementor-6 .elementor-element.elementor-element-a6b51e6 {
  margin-top: 25px;
  margin-bottom: 0px;
}

@media(max-width:939px) {
  .elementor-6 .elementor-element.elementor-element-f2ea78f {
    order: 2;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675 {
    order: 1;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675>.elementor-element-populated {
    margin: 0px 0px 20px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-fda580a .post-title {
    font-size: 28px;
  }

  .elementor-6 .elementor-element.elementor-element-fda580a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-59a894a {
    order: 3;
  }

  .elementor-6 .elementor-element.elementor-element-59a894a.elementor-column>.elementor-widget-wrap {
    justify-content: center;
  }

  .elementor-6 .elementor-element.elementor-element-841f927 {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .elementor-6 .elementor-element.elementor-element-66845bf>.elementor-element-populated {
    margin: 35px 0px 0px 0px;
  }
}

@media(max-width:767px) {
  .elementor-6 .elementor-element.elementor-element-f2ea78f {
    order: 2;
  }

  .elementor-6 .elementor-element.elementor-element-cc34cd6 .post-title {
    font-size: 18px;
  }

  .elementor-6 .elementor-element.elementor-element-cc34cd6>.elementor-widget-container {
    padding: 0px 0px 40px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675 {
    order: 1;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675>.elementor-element-populated {
    margin: 0px 0px 10px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-fda580a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-59a894a {
    order: 3;
  }

  .elementor-6 .elementor-element.elementor-element-9cdc9e0 .post-title {
    font-size: 18px;
  }

  .elementor-6 .elementor-element.elementor-element-9cdc9e0>.elementor-widget-container {
    padding: 0px 0px 35px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-f12d8b7 .post-title {
    font-size: 18px;
  }

  .elementor-6 .elementor-element.elementor-element-294a686 .post-title {
    font-size: 20px;
  }

  .elementor-6 .elementor-element.elementor-element-df2a46f>.elementor-element-populated {
    margin: 35px 0px 0px 0px;
  }

  .elementor-6 .elementor-element.elementor-element-a278f2a .media {
    --list-p-media-max-width: 35%;
  }

  .elementor-6 .elementor-element.elementor-element-a278f2a .post-title {
    font-size: 17px;
  }

  .elementor-6 .elementor-element.elementor-element-5325094 .media {
    --list-p-media-max-width: 35%;
  }

  .elementor-6 .elementor-element.elementor-element-5325094 .post-title {
    font-size: 17px;
  }
}

@media(min-width:768px) {
  .elementor-6 .elementor-element.elementor-element-f2ea78f {
    width: 24%;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675 {
    width: 51.332%;
  }

  .elementor-6 .elementor-element.elementor-element-59a894a {
    width: 24%;
  }
}

@media(max-width:939px) and (min-width:768px) {
  .elementor-6 .elementor-element.elementor-element-f2ea78f {
    width: 50%;
  }

  .elementor-6 .elementor-element.elementor-element-fac7675 {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-59a894a {
    width: 50%;
  }

  .elementor-6 .elementor-element.elementor-element-23a74f7 {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-6fff579 {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-1724740 {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-c19c99f {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-ced59dc {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-41f6e93 {
    width: 50%;
  }

  .elementor-6 .elementor-element.elementor-element-df2a46f {
    width: 50%;
  }

  .elementor-6 .elementor-element.elementor-element-66845bf {
    width: 100%;
  }

  .elementor-6 .elementor-element.elementor-element-c1d40b3 {
    width: 60%;
  }

  .elementor-6 .elementor-element.elementor-element-c7eedb7 {
    width: 40%;
  }
}
